# OS X Noise
.DS_Store

# Windows Noise
[Tt]humbs.db

# IDE noise
.idea/*

# RCX specific "binaries"
*.rcx

# Build output folder
build/*

# Object files
*.o

# Language parser intermediates
compiler/lexer.cpp
compiler/parse.cpp
compiler/parse.tab.h

# Generated docs
doc/html/*
doc/latex/*
doc/*.log
